/* Reset some basic elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Constants */
:root {
    /* Colors */
    --color-primary: #76453b;
    --color-secondary: #43766C;
    --color-neutral: #F8FAE5;
    --color-accent: #B19470;
    /* --color-accent: #B19470; */
    /* --color-primary: #001524;
    --color-neutral: #FDE5D4;
    --color-secondary: #72a079; */
    

    --text-color: var(--color-primary);
    --text-color-alt: var(--color-neutral);

    --background-color: var(--color-neutral);

    /* Spacing */
    --nav-size: 25vw;
}

body {
    font-family: Verdana, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    
    /* Default is 16px */
    /* Effectively zooming in */
    font-size: calc(16px * 1.25);
}

@media screen and (max-width: 960px) {
    body {
        font-size: 16px;
    }
}

/* orientation's breakpoint is at square */
@media screen and (orientation: portrait) {
    /* main {
        padding-top: var(--nav-size);
    } */
    :root {
        /* Spacing */
        --nav-size: 7vh;
    }
}