.root-flex-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.main{
    margin-left: var(--nav-size);
    flex-grow: 1;
}

@media screen and (orientation: portrait) {
    .root-flex-container{
        flex-direction: column;
    }
    .main{
        margin-left: 0;
        margin-top: var(--nav-size);
    }
}

/* @media (prefers-color-scheme: dark) {
    body{
        filter: invert(95%) hue-rotate(180deg);
    }
    i, img, video{
        filter: invert(95%) hue-rotate(180deg);
    }
} */