.root-flex-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

main{
    /* border: 4px solid red; */
    flex-grow: 1;
}

@media screen and (orientation: portrait) {
    .root-flex-container{
        flex-direction: column;
    }
}

/* @media (prefers-color-scheme: dark) {
    body{
        filter: invert(95%) hue-rotate(180deg);
    }
    i, img, video{
        filter: invert(95%) hue-rotate(180deg);
    }
} */