@import '../base.css';

/* ----------------------------
   Base Navigation Bar Styling
----------------------------- */
.nav-bar {
    width: var(--nav-size);
    height: 100%;
    position: fixed;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 1em 2em;
}

.nav-bar * {
    color: var(--text-color-alt);
}

.nav-bar li {
    list-style-position: inside;
}

.nav-bar a {
    text-decoration: none;
}

.nav-bar a:hover {
    text-decoration: underline;
}

/* Prevent underline on title hover */
.nav-bar h1 a:hover {
    text-decoration: none;
}

/* Spacing elements */
.nav-bar .space-filler {
    height: 2em;
}

.nav-bar .space-filler2 {
    flex-grow: 1;
}

/* ----------------------------
   Icons and Interactive Elements
----------------------------- */
.pronunce-icon {
    text-shadow: 0;
    transition: text-shadow 0.1s;
}

.pronunce-icon:hover {
    text-shadow: 1px 1px 3px black;
}

/* Active Link Styling */
.nav-active {
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

/* ----------------------------
   Responsive Styling - Width
----------------------------- */
@media screen and (max-width: 720px) {
    .nav-bar {
        padding: 0.5em 1em;
    }
}

/* ----------------------------
   Responsive Styling - Portrait Orientation
----------------------------- */
@media screen and (orientation: portrait) {
    .nav-bar {
        width: 100%;
        height: var(--nav-size); /* height with padding */
        flex-direction: row;
        align-items: center;
        min-width: fit-content;
        min-height: fit-content;
    }

    .nav-bar li {
        display: inline;
        margin: 0 0.25em;
    }

    .nav-bar .space-filler {
        flex-grow: 1;
    }

    .nav-bar .space-filler2 {
        display: none;
    }

    .quote,
    .pronunciation {
        display: none;
    }
}