.projects-container{
    width: 100%;
    min-height: 100%;
}

.projects-grid{
    max-width: 100%;
    min-height: fit-content;
    margin: 0 max(1em, 2vw);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-cell{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 0.5em;
    margin: 0.5em;
    border: 1em ridge saddlebrown;
    border-radius:0.2em;
    background-color: var(--text-background-color);
}

.project-cover{
    height: auto;
    align-self: flex-start;
    object-fit: contain;
}

.project-info{
    width: 100%;
    padding: 0 1em;
    text-align: start;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.project-title a{
    text-decoration: None;
    color: var(--text-color);
}
.project-title a:hover{
    text-decoration: underline;
}

.project-tag span{
    border-radius: 0.25em;
    padding: 0 0.25em;
    margin-bottom: 0.25em;
    border: 2px solid var(--text-color);
    display: inline-block;
}

.project-description{
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Kinda like comments. Usually <small> */
.mutter{
    text-decoration: line-through;
}

@media screen and (orientation: portrait){
    .project-cell{
        flex-direction: column;
        align-items: center;
    }
    .project-cover{
        width: 85%;
        max-height: 25vh;
        align-self: center;
    }
    .project-info{
        margin-top: 1em;
        width: 75vw;
    }
}