.root-flex-container{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

#navbar{
    width: var(--nav-size);
    height: 100vh;
    flex-shrink: 0;
    position: sticky;
    top: 0;
    align-self: flex-start;
}

.main{
    margin-left: 0;
    flex-grow: 1;
}

main > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    justify-content: flex-start;
    padding-top: 1em;
}

@media screen and (orientation: portrait) {
    .root-flex-container{
        flex-direction: column;
    }
    #navbar{
        width: 100%;
        height: var(--nav-size);
    }
    .main{
        margin-left: 0;
        margin-top: 0;
    }
}

/* Potential dark mode */
/* @media (prefers-color-scheme: dark) {
    body{
        filter: invert(95%) hue-rotate(180deg);
    }
    i, img, video{
        filter: invert(95%) hue-rotate(180deg);
    }
} */