@import '/base.css';

.nav-bar {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--nav-padding-vertical) var(--nav-padding-horizontal);
    box-sizing: border-box;
}

.nav-bar * {
    color: var(--text-color-alt);
}

.nav-bar li {
    list-style-position: inside;
}

.nav-bar a {
    text-decoration: none;
}

.nav-bar a:hover {
    text-decoration: underline;
}

/* Prevent underline on title hover */
.nav-bar h1 a:hover {
    text-decoration: none;
}

/* Spacing elements */
.nav-bar .space-filler {
    height: 2em;
}

.nav-bar .space-filler2 {
    flex-grow: 1;
}


.pronunce-icon {
    text-shadow: 0;
    transition: text-shadow 0.1s;
}

.pronunce-icon:hover {
    text-shadow: 1px 1px 3px black;
}


.nav-active {
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}



@media screen and (orientation: portrait) {
    .nav-bar {
        width: 100%;
        height: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        min-width: fit-content;
        padding: var(--nav-padding-vertical) var(--nav-padding-horizontal);
    }

    .nav-bar h1 {
        margin: 0;
        flex-shrink: 0;
    }

    .nav-bar ul {
        margin: 0;
        flex-shrink: 0;
    }

    .nav-bar li {
        display: inline;
        margin: 0 0.5em;
    }

    .nav-bar .space-filler {
        flex-grow: 1;
    }

    .nav-bar .space-filler2 {
        display: none;
    }

    .quote,
    .pronunciation,
    .portal-container {
        display: none;
    }
}